*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0; }

html {
  font-family: "Minion Regular";
  font-size: 12px;
  color: #333333; }

h1, h2, h3, h4, h5, p {
  font-weight: normal; }

a {
  text-decoration: none; }

body {
  display: flex;
  flex-direction: column; }

.container {
  max-width: 1140px;
  margin: 0 auto; }

@font-face {
  font-family: 'Minion Regular';
  src: url("../fonts/MinionPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Minion Medium';
  src: url("../fonts/MinionPro-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Minion Medium it';
  src: url("../fonts/MinionPro-MediumIt.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Minion Bold';
  src: url("../fonts/MinionPro-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Minion Semibold';
  src: url("../fonts/MinionPro-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.page-logo {
  width: 103px; }

.button {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #777777;
  border-radius: 22px;
  padding: 13px 25px;
  cursor: pointer; }
  .button:hover {
    color: #ffffff;
    background-color: #272727;
    transition: 0.7s; }

.more {
  font-family: Montserrat;
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.36px;
  font-weight: 500; }
  .more::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 1px;
    background-color: #555555;
    margin-left: 17px;
    transition: 1s ease; }
  .more::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 1px;
    background-color: #555555;
    margin-right: 10px;
    margin-left: -10px;
    transition: 1s ease; }
  .more:hover::before {
    width: 40px; }
  .more:hover::after {
    width: 70px; }

.title {
  color: #333333;
  font-family: "Minion Semibold";
  font-size: 32px;
  font-weight: 400; }

.description {
  font-family: "Minion Regular";
  font-weight: 500;
  color: #555555;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3em; }

.signature {
  color: #333333;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.36px;
  text-decoration: none; }

.scrollup {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #000000;
  background: url(../img/up.svg) no-repeat center/70%;
  opacity: 0.5;
  transition: 0.5s; }
  .scrollup:hover {
    opacity: 1; }

.header {
  position: relative;
  z-index: 101; }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .header__logo {
    max-width: 154px;
    padding-top: 10px; }
    .header__logo--sm {
      max-width: 103px;
      padding-top: 10px;
      margin-left: 10px; }
  .header__right-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 30px; }
  .header__phone {
    margin-right: 15px; }

.menu {
  margin-left: auto;
  margin-right: 27px; }
  .menu__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #333333;
    position: relative; }
    .menu__link:not(:last-child) {
      margin-right: 15px; }
    .menu__link:hover {
      opacity: 0.7; }

.sticky__text {
  color: #888888; }
  .sticky__text:hover {
    opacity: 0.5; }

.sticky {
  display: flex;
  justify-content: space-between;
  width: 555px;
  height: 779px;
  background-color: #ffffff;
  border: 1px solid #eee;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  -webkit-transform: translateX(-475px);
  transform: translateX(-475px);
  transition: 1.2s ease; }
  .sticky-active {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .sticky__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80px; }
  .sticky__text {
    width: 200px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 500;
    letter-spacing: 0.72px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 1;
    margin-top: 380px;
    transition: 1.2s ease; }
    .sticky__text-active {
      opacity: 0; }
  .sticky__burger {
    width: 50px;
    height: 60px;
    position: relative;
    left: 10px;
    justify-content: flex-start; }
    .sticky__burger span {
      margin: 0;
      position: absolute;
      display: block;
      width: 25px;
      height: 2px;
      background-color: #555555; }
      .sticky__burger span::before {
        content: '';
        display: block;
        height: 2px;
        background-color: #555555;
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
        width: 15px;
        margin: auto;
        transition: 0.2s; }
      .sticky__burger span::after {
        content: '';
        display: block;
        height: 2px;
        background-color: #555555;
        -webkit-transform: translateY(7px);
        transform: translateY(7px);
        width: 15px;
        margin: auto;
        margin-top: -2px;
        transition: 0.2s; }
    .sticky__burger-active span {
      height: 0; }
      .sticky__burger-active span::before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 25px; }
      .sticky__burger-active span::after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 25px; }
  .sticky__social {
    margin-bottom: 27px;
    opacity: 1;
    transition: 1.2s ease; }
    .sticky__social-cnt {
      margin-top: 24px;
      display: flex;
      width: 60px;
      justify-content: space-between; }
    .sticky__social-active {
      opacity: 0; }
  .sticky__item {
    margin-top: 24px;
    width: 20px;
    height: 20px; }

.sticky__burger span {
  top: 30px; }

.sticky__burger-active {
  left: -15px; }

.content {
  display: flex;
  flex-direction: column;
    flex-direction-width: 100%;
  opacity: 0;
  transition: 1.2s ease; }
  .content-active {
    opacity: 1; }
  .content__logo {
    width: 153px;
    height: 170px;
    margin-top: 28px;
    margin-bottom: 47px; }
    .content__logo img {
      width: 100%; }
  .content__menu {
    margin-left: 0; }
  .content__link:not(:last-child) {
    display: inline-block;
    margin-bottom: 20px; }
  .content__buttons {
    width: 400px;
    margin-top: 47px; }
  .content__phone {
    margin-right: 15px; }

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.over {
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #272727; }

.sticky__content.content.content-active {
  padding-left: 100px; }

img.sticky__instagram,
img.sticky__whatsapp {
  transition: 0.5s;
  opacity: 0.5;
  width: 20px; }
  img.sticky__instagram:hover,
  img.sticky__whatsapp:hover {
    opacity: 1; }

.hero__row {
  position: relative;
  display: flex; }

.hero__image {
  position: absolute;
  width: 100%;
  max-width: 968px;
  left: 300px;
  top: 0;
  z-index: -1; }

.hero__title {
  font-family: "Minion Semibold";
  font-size: 40px;
  font-weight: 400;
  color: #333333;
  margin-top: 70px;
  margin-bottom: 36px;
  width: 700px; }
  .hero__title span {
    display: block; }

.hero__description {
  max-width: 263px;
  margin-bottom: 41px; }

.hero__navigation {
  width: 230px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 124px;
  margin-top: 23px; }

.hero .swiper-button-prev,
.hero .swiper-button-next {
  position: static; }
  .hero .swiper-button-prev::after,
  .hero .swiper-button-next::after {
    display: none; }
  .hero .swiper-button-prev:hover,
  .hero .swiper-button-next:hover {
    opacity: 0.7; }

.swiper-button-prev {
  width: 72px;
  height: 9px;
  background: url(../img/arrow-l.png) no-repeat;
  margin-right: 15px; }

.swiper-button-next {
  width: 72px;
  height: 9px;
  background: url(../img/arrow.png) no-repeat; }

.swiper-pagination {
  position: static;
  margin-bottom: 25px;
  margin-right: 15px; }

.swiper-pagination-bullet {
  width: 5px;
  height: 5px; }
  .swiper-pagination-bullet:not(:last-child) {
    margin-right: 5px; }

.swiper-pagination-bullet-active {
  background-color: #555555; }

.swiper-button-disabled {
  opacity: 0.2; }

.swiper-container {
  position: absolute;
  max-width: 1270px;
  top: -80px; }

.swiper-wrapper {
  height: 620px; }

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden; }

.swiper-slide-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%; }

.about {
  margin-top: 650px;
  margin-bottom: 71px;
  overflow: hidden; }
  .about__wrap {
    width: 100%;
    position: relative;
    display: flex; }
  .about__col-1 {
    margin-right: auto; }
  .about__col-2 {
    position: absolute;
    right: -130px;
    top: 80px;
    z-index: -1;
    overflow: hidden; }
  .about__title {
    margin-bottom: 18px; }
  .about__description {
    max-width: 337px;
    margin-bottom: 30px; }
  .about__more {
    margin-bottom: 132px; }
  .about__description-2 {
    max-width: 550px;
    margin-top: 20px; }
  .about__img-1 {
    max-width: 388px;
    position: relative;
    border: 5px solid #fff;
    margin-left: 170px;
    margin-top: 25px;
    z-index: 2; }
  .about__img-2 {
    position: absolute;
    top: -25px;
    left: 370px;
    border: 5px solid #fff; }
  .about__img-3 {
    margin-bottom: 20px;
    max-width: 678px; }

.services {
  background: url(../img/services-bg.jpg) no-repeat;
  height: 509px; }
  .services__wrap {
    position: relative;
    height: 509px;
    display: flex;
    align-items: center; }
  .services__block {
    position: absolute;
    min-width: 323px;
    height: 366px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    right: 430px; }
  .services__title {
    margin-bottom: 16px;
    padding-top: 20px; }
  .services__list {
    background-color: #fff;
    margin-right: 45px;
    margin-left: 45px;
    margin-bottom: 23px; }
  .services__text {
    color: #333333;
    font-family: "Minion Regular";
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    padding: 20px 40px; }

.feedback {
  background-color: #f6f6f6;
  padding-top: 58px; }
  .feedback__wrap {
    position: relative; }
    .feedback__wrap span {
      position: absolute;
      width: 100%;
      max-width: 104.5%;
      height: 1px;
      background-color: #d8d8d8; }
  .feedback__row {
    padding-top: 39px;
    padding-bottom: 72px;
    display: flex;
    justify-content: space-between;
    align-items: start; }
  .feedback__col-2 {
    width: 351px;
    text-align: center; }
  .feedback__col-3 {
    width: 373px;
    text-align: center; }
  .feedback__description {
    width: 201px;
    margin-bottom: 35px; }
  .feedback__title {
    margin-bottom: 31px; }
    .feedback__title::after {
      position: absolute;
      content: '';
      top: 0; }
  .feedback--text {
    color: #333333;
    font-family: "Minion Medium it";
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px; }
  .feedback--line {
    position: relative; }
    .feedback--line::after {
      position: absolute;
      content: '';
      width: 1px;
      height: 186px;
      top: 0;
      right: -50px;
      background-color: #d8d8d8; }

.insta__wrap {
  padding-top: 63px;
  padding-bottom: 75px;
  display: flex;
  align-items: center; }
  .insta__wrap a {
    margin-right: 30px; }

.insta__img:not(:last-child) {
  margin-right: 10px; }

.insta__img:nth-last-child(2) {
  margin-right: 30px; }

.insta__title {
  margin-bottom: 28px; }

.insta__description {
  margin-bottom: 30px;
  color: #555555; }

.insta__inner {
  position: relative; }
  .insta__inner span {
    position: absolute;
    content: '';
    width: 100px;
    height: 1px;
    background-color: #555555;
    bottom: 23px;
    right: -5px; }

.insta__more::after {
  height: 0; }

.contacts__head {
  display: flex; }

.contacts__social {
  display: flex; }

.head {
  margin-bottom: 52px;
  display: flex;
  justify-content: space-between; }
  .head__title {
    margin-top: 20px;
    margin-bottom: 28px;
    font-size: 36px; }
  .head__description {
    width: 242px; }
  .head__text {
    margin-top: 80px;
    font-size: 32px;
    font-weight: 500; }
    .head__text span {
      display: block; }
      .head__text span:nth-child(1) {
        margin-bottom: 18px; }
      .head__text span:nth-child(2) {
        margin-bottom: 18px; }

.social {
  background-color: #f6f6f6;
  padding: 74px 0;
  margin-bottom: 66px; }
  .social__text {
    color: #555555;
    font-size: 16px;
    font-weight: 400;
    margin-right: 225px; }
  .social__link-1 {
    margin-right: 105px; }
  .social .social__link-1:hover,
  .social .social__link-2:hover {
    opacity: 0.7; }

.contacts .container {
  padding: 0 10px; }

section.contacts {
  margin-left: 0;
  margin-right: 0; }

.questions__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 232px; }

.questions__description {
  width: 242px; }

.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 655px; }
  .form input {
    flex-basis: 47%;
    padding-left: 10px;
    font-family: Montserrat; }
    .form input::-webkit-input-placeholder {
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400; }
    .form input::-moz-placeholder {
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400; }
    .form input:-ms-input-placeholder {
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400; }
    .form input::-ms-input-placeholder {
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400; }
    .form input::placeholder {
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400; }
    .form input:nth-child(3) {
      margin-top: 40px;
      flex-basis: 100%;
      margin-bottom: 30px; }
  .form__down {
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; }
  .form__button {
    width: 170px;
    margin-right: 29px; }
  .form__input {
    border: none;
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 10px; }

.company__title {
  margin-top: 20px;
  margin-bottom: 28px; }

.company__img {
  float: left;
  margin-right: 22px;
  margin-bottom: 10px;
  max-width: 458px;
  width: 100%; }

.company__text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 35px; }

.share {
  display: flex;
  align-items: center;
  margin-bottom: 93px; }
  .share__title {
    font-size: 20px;
    margin-right: 20px;
    font-weight: 500; }
  .share__icon {
    display: flex;
    align-items: center; }
  .share__link {
    margin-right: 15px; }
    .share__link:hover {
      opacity: 0.7; }
  .share__img {
    width: 18px; }

.feed {
  padding-left: 20px;
  padding-right: 20px; }
  .feed__title {
    margin-top: 20px;
    margin-bottom: 28px;
    display: inline-block; }
  .feed__wrap {
    display: flex;
    flex-wrap: wrap; }
  .feed__card {
    flex-basis: 33.333%;
    margin-bottom: 35px;
    text-align: center; }
  .feed__text {
    font-family: "Minion Medium it";
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px; }
  .feed__name, .feed__date {
    display: block;
    font-family: Montserrat;
    letter-spacing: 0.36px;
    margin-bottom: 15px; }
    .feed__name:not(.feed__date), .feed__date:not(.feed__date) {
      text-transform: uppercase; }
  .feed__head {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .feed__pagination {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 70px; }
  .feed__num {
    color: #999999;
    font-family: "Minion Semibold";
    font-size: 26px;
    font-weight: 400;
    margin-right: 15px; }
    .feed__num:last-child {
      margin-right: 0; }
    .feed__num--active {
      color: #333333; }

.feedform__title {
  margin-top: 20px;
  margin-bottom: 31px;
  margin-left: 10px; }

.feedform__wrap {
  display: flex;
  flex-direction: column; }

.feedform__form {
  max-width: 1140px;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 20px;
  border: 1px solid #999999;
  border-radius: 5px; }

.feedform__input {
  padding: 10px 10px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px;
  border: 1px solid #999999;
  border-radius: 5px; }
  .feedform__input::-webkit-input-placeholder {
    font-size: 18px; }
  .feedform__input::-moz-placeholder {
    font-size: 18px; }
  .feedform__input:-ms-input-placeholder {
    font-size: 18px; }
  .feedform__input::-ms-input-placeholder {
    font-size: 18px; }
  .feedform__input::placeholder {
    font-size: 18px; }

.feedform__textarea {
  padding: 20px 10px;
  font-family: sans-serif;
  font-size: 18px;
  border-radius: 10px; }
  .feedform__textarea::-webkit-input-placeholder {
    font-family: sans-serif;
    font-size: 18px; }
  .feedform__textarea::-moz-placeholder {
    font-family: sans-serif;
    font-size: 18px; }
  .feedform__textarea:-ms-input-placeholder {
    font-family: sans-serif;
    font-size: 18px; }
  .feedform__textarea::-ms-input-placeholder {
    font-family: sans-serif;
    font-size: 18px; }
  .feedform__textarea::placeholder {
    font-family: sans-serif;
    font-size: 18px; }

.feedform__label {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 10px; }

.feedform__button {
  display: block;
  margin: auto;
  width: 200px;
  margin-bottom: 30px; }

.portfolio__title {
  margin-top: 20px;
  margin-bottom: 28px; }

.portfolio__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px; }

.portfolio__card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  max-width: 360px;
  width: 100%; }

.portfolio__img {
  margin-bottom: 15px; }

.portfolio__name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #333333; }
  .portfolio__name:hover {
    opacity: 0.7;
    cursor: pointer; }

.portfolio__num {
  font-family: Montserrat;
  color: #999999;
  line-height: 24px;
  letter-spacing: 0.36px; }

.album__title {
  margin-top: 20px;
  margin-bottom: 28px; }

.album__wrap {
  display: flex;
  justify-content: space-between; }

.album__card {
  margin-right: 30px; }
  .album__card:last-child {
    margin-right: 0; }

.album__img {
  margin-bottom: 12px;
  width: 100%; }

.album__name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px; }

.modal {
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1000; }
  .modal--visible {
    opacity: 1;
    visibility: visible;
    transition: 1.2s ease; }
  .modal__dialog {
    position: relative;
    max-width: 440px;
    width: calc( 100% - 20px);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 35px 40px;
    text-align: center;
    left: calc( 50% - 220px);
    top: calc( 50% - 200px);
    z-index: 1000;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column; }
  .modal__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15px;
    height: 15px;
    background: url(../img/close.svg) no-repeat center;
    cursor: pointer; }
  .modal__title {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px; }
  .modal__form {
    display: flex;
    flex-direction: column; }
    .modal__form input {
      flex-basis: 0;
      padding-left: 10px;
      text-align: center;
      border: none;
      border-bottom: 1px solid #c0c0c0;
      padding-bottom: 10px; }
  .modal__input {
    margin-bottom: 10px; }
  .modal__policy {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: auto;
    margin-left: auto; }
  .modal__checkbox {
    padding: 0;
    margin-right: 10px; }
  .modal__text {
    font-size: 14px; }
  .modal__button {
    font-size: 12px;
    width: 170px;
    margin: auto; }

.footer {
  background-color: #f6f6f6;
  padding-bottom: 33px;
  position: relative;
  bottom: 0;
  width: 100%; }
  .footer__wrap {
    position: relative;
    padding-top: 26px;
    padding-bottom: 33px;
    display: flex;
    justify-content: center; }
  .footer__menu {
    display: flex;
    align-items: center; }
  .footer__logo {
    width: 93px;
    margin-right: 25px; }
  .footer__line {
    position: absolute;
    display: block;
    width: 100%;
    max-width: 1140px;
    height: 1px;
    background-color: #d8d8d8;
    bottom: 10px; }
  .footer__social {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px; }
  .footer__icon {
    transition: 0.5s;
    width: 25px; }
    .footer__icon:not(:last-child) {
      margin-right: 20px; }
    .footer__icon:hover {
      opacity: 0.5; }
  .footer__phones {
    display: flex;
    justify-content: center;
    margin-bottom: 15px; }
  .footer__tel {
    position: relative;
    font-size: 20px;
    font-weight: 500; }
    .footer__tel a {
      transition: 0.4s ease;
      color: #333333; }
      .footer__tel a:hover {
        opacity: 0.6; }
  .footer__adress {
    display: flex;
    justify-content: center;
    color: #333333;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 32px; }
  .footer__copyrightes {
    display: flex;
    justify-content: center;
    color: #999999;
    font-size: 14px;
    font-weight: 400; }
  .footer__wa-link {
    margin-right: 20px; }

.copyrightes__link {
  color: #999999 !important;
  text-decoration: none; }
  .copyrightes__link:hover {
    opacity: 0.7; }

.menu__link:not(:last-child) {
  margin-right: 22px; }

@media screen and (max-width: 2000px) {
  .ipad {
    display: none; }
  .vasilenko__bottom-line {
    display: none; } }

@media screen and (max-width: 1764px) {
  .feedback--line::after {
    display: none; } }

@media screen and (max-width: 1500px) {
  .header {
    margin-right: 80px; }
  .header__logo {
    margin-left: 30px; } }

@media screen and (max-width: 1400px) {
  .swiper-container {
    width: 100%; } }

@media screen and (max-width: 1325px) {
  .hero {
    margin-left: 50px; }
    .hero__title {
      margin-left: 50px; }
    .hero__description {
      margin-left: 50px; }
    .hero__more {
      margin-left: 50px; }
  .header__logo {
    margin-left: 60px; }
  .header__phone {
    margin-right: 5px; }
  .menu__link:not(:last-child) {
    margin-right: 10px; }
  .insta__wrap a {
    margin-right: 0; } }

@media screen and (max-width: 1265px) {
  .header__logo {
    margin-left: 80px; } }

@media screen and (max-width: 1200px) {
  .menu__link:not(:last-child) {
    margin-right: 2px; }
  .instagram-line {
    display: none; }
  .insta__wrap {
    justify-content: center;
    padding-left: 10px; }
  .insta__img-3 {
    display: none; }
  .footer__copyrightes {
    display: block;
    text-align: center;
    padding: 0 10px; }
  .footer__adress {
    padding-left: 10px;
    padding-right: 10px; } }

@media screen and (max-width: 1132px) {
  .menu__link:not(:last-child) {
    margin-right: -5px; } }

@media screen and (max-width: 1125px) {
  .menu__link:not(:last-child) {
    margin-right: 5px; }
  .header {
    margin-right: 30px; }
  .menu {
    margin-right: 10px; }
  .sticky-active {
    width: 900px; } }

@media screen and (max-width: 1038px) {
  .menu {
    display: none; } }

@media screen and (max-width: 768px) {
  section {
    margin-left: 10px;
    margin-right: 10px; }
  .header {
    margin-bottom: 15px; }
    .header__buttons {
      display: none; }
    .header__logo {
      margin-left: 10px; }
    .header__logo--sm {
      display: none; }
    .header__logo {
      display: none; }
  .hero {
    margin-left: 0; }
    .hero__description {
      display: none; }
    .hero__title {
      margin-left: 180px;
      font-size: 26px;
      width: 450px; }
      .hero__title span {
        display: none; }
    .hero__row {
      display: none; }
  .swiper-slide {
    display: inline-block; }
  .sticky {
    width: 100%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    height: 70px; }
    .sticky__right {
      flex-direction: row;
      width: 100%;
      height: 70px; }
    .sticky__text {
      text-align: right;
      margin-top: 0;
      margin-left: auto;
      margin-right: 28px;
      -webkit-transform: rotate(0);
      transform: rotate(0); }
    .sticky__content {
      position: absolute;
      opacity: 1;
      transition: 1.2s ease;
      background: #ffffff;
      width: 100%;
      height: 702px;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%); }
    .sticky__burger {
      transition: 1.5s ease; }
      .sticky__burger span {
        left: 15px; }
      .sticky__burger-active {
        left: 90%; }
        .sticky__burger-active span {
          top: 30px;
          left: 12px; }
    .sticky__social {
      display: flex; }
    .sticky__item {
      margin-right: 20px; }
    .sticky__social-cnt {
      margin-right: auto;
      margin-left: 80px; }
  .content-active {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  .content__logo {
    margin-right: auto;
    margin-left: 70px; }
  .content__menu {
    display: block;
    margin-right: auto;
    margin-left: 80px; }
  .content__buttons {
    margin-right: auto;
    margin-left: 80px; }
  .sticky__content.content.content-active {
    padding-left: 0px; }
  .about {
    margin-top: 0;
    padding-top: 30px;
    margin-bottom: 40px; }
    .about__wrap {
      display: block; }
    .about__col-2 {
      position: static; }
    .about__images {
      display: flex; }
    .about__img-1 {
      margin-left: 0;
      width: 380px;
      margin-top: 0; }
      .about__img-1 img {
        width: 100%; }
    .about__img-2 {
      width: 380px; }
      .about__img-2 img {
        width: 100%; }
    .about__img-3 {
      max-width: initial;
      width: 100%; }
    .about__images img {
      position: static; }
    .about__description {
      max-width: 100%; }
    .about__more {
      display: block;
      margin-bottom: 20px; }
    .about__description-2 {
      max-width: -webkit-fit-content;
      max-width: -moz-fit-content;
      max-width: fit-content; }
  .services__block {
    right: 25px; }
  .feedback {
    padding-top: 0; }
    .feedback__wrap span {
      top: 170px; }
    .feedback__title {
      margin-bottom: 10px; }
    .feedback__row {
      flex-wrap: wrap;
      padding-bottom: 40px; }
    .feedback__col-2 {
      width: 370px; }
    .feedback__description {
      width: 100%;
      margin-bottom: 15px; }
    .feedback__more {
      display: block;
      margin-bottom: 60px; }
  .insta__img:not(:last-child) {
    margin-right: 10px;
    width: 242px; }
  .instagram-line {
    display: block; }
  .insta__wrap {
    padding-top: 50px;
    padding-bottom: 50px; }
    .insta__wrap a {
      margin-right: 10px; }
  .insta__inner span {
    width: 60px;
    right: 10px; }
  .insta__img {
    width: 100%; }
  .insta__link {
    margin-right: 5px; }
  .footer__phones {
    text-align: center; }
  .footer__logo {
    margin-left: 35px; }
  .feed__wrap {
    justify-content: center; }
  .feed__card {
    flex-basis: 45%;
    margin-right: 15px; }
  .feed__text {
    font-size: 14px; }
  .head__text {
    font-size: 20px; }
  .social__text {
    margin-right: 90px; }
  .social__link-1.title,
  .social__link-2.title {
    font-size: 24px; }
  .questions__description {
    width: 420px;
    margin-right: 30px; }
  .questions__wrap {
    margin-bottom: 80px; }
  .form {
    margin-right: 0; }
  .ipad {
    display: block; }
    .ipad__heading {
      display: flex;
      align-items: center;
      margin-bottom: 10px; }
    .ipad__logo {
      display: block;
      margin-left: 0;
      margin-right: 30px; }
    .ipad__title {
      font-size: 26px;
      max-width: 482px;
      margin-bottom: 20px;
      margin-left: 10px; }
    .ipad__image {
      max-width: 768px;
      width: 100%; }
    .ipad__more {
      margin-left: 10px; }
  .album__wrap {
    margin-left: 10px; }
  .album__card-3 {
    display: none; }
  .album__title {
    margin-left: 10px; }
  .feed__pagination {
    margin-right: 25px;
    margin-bottom: 10px; } }

@media screen and (max-width: 568px) {
  .vasilenko__bottom-line {
    display: block; }
  .title {
    font-size: 20px;
    margin-bottom: 10px; }
  .description {
    font-size: 12px; }
  .header {
    margin-bottom: 0; }
  .about {
    padding-top: 10px;
    margin-bottom: 30px; }
    .about__title {
      font-size: 20px;
      margin-bottom: 10px;
      margin-left: 10px; }
    .about__title-2 {
      margin-left: 10px; }
    .about__description {
      font-size: 12px;
      margin-bottom: 20px;
      margin-left: 10px; }
    .about__description-2 {
      margin-left: 10px; }
    .about__more {
      font-size: 10px; }
    .about__img-1 {
      width: 158px; }
    .about__img-2 {
      width: 158px; }
    .about__img-3 {
      margin-bottom: 10px; }
  .services__block {
    right: 0; }
  .feedback__wrap span {
    top: 150px;
    width: 300px;
    left: calc( 50% - 150px); }
  .feedback__row {
    padding-top: 30px; }
  .feedback__title {
    margin-left: 10px; }
  .feedback--text {
    font-size: 14px; }
  .feedback__col-3 {
    margin-top: 20px; }
  .feedback__description {
    width: 95%;
    margin-left: 10px; }
  .feedback__more {
    margin-bottom: 45px;
    margin-left: 10px; }
  .feedback-line-2 span {
    top: -100px; }
  .signature-vasilenko::after {
    content: '';
    width: 300px;
    height: 1px;
    background-color: #d8d8d8;
    display: inline-block;
    margin-top: 20px; }
  .insta__wrap {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 0; }
    .insta__wrap a {
      margin-left: 0; }
  .insta__img:not(:last-child) {
    margin-right: 10px;
    width: 145px;
    margin-bottom: 18px; }
  .insta__inner {
    text-align: center; }
    .insta__inner span {
      display: none; }
  .insta__more {
    display: none; }
  .footer {
    padding-top: 30px; }
    .footer__menu {
      margin-top: 100px;
      flex-wrap: wrap;
      justify-content: center; }
      .footer__menu a {
        text-align: center;
        flex-basis: 30%;
        margin-bottom: 10px; }
    .footer__logo {
      margin-right: 0;
      position: absolute;
      top: 0;
      left: calc( 50% - 80px); }
    .footer__icon {
      margin-left: 10px; }
    .footer__tel::after {
      left: 145px;
      bottom: 2px; }
    .footer__tel a {
      font-size: 18px; }
    .footer__phones {
      text-align: center;
      color: #333333; }
    .footer__adress {
      text-align: center;
      padding: 0 10px; }
    .footer__copyrightes {
      text-align: center; }
    .footer__wa-link {
      margin-right: 0; }
  a.footer__logo-link {
    display: contents; }
  .menu__link:not(:last-child) {
    margin-right: -5px; }
  .content {
    height: 100vh; }
    .content__logo {
      width: 80px;
      height: 90px;
      margin-left: 15px; }
    .content__menu {
      margin-left: 20px; }
    .content__buttons {
      width: auto;
      margin-left: 20px; }
    .content__phone {
      width: 170px;
      display: block;
      margin-bottom: 20px;
      margin-right: 0; }
    .content__submit {
      font-size: 10px;
      width: 170px; }
  .sticky {
    height: 50px; }
    .sticky__right {
      height: 50px; }
    .sticky__social-cnt {
      margin-left: 20px;
      margin-top: 0; }
    .sticky__burger {
      left: 0; }
      .sticky__burger-active {
        left: 75%;
        top: 20px; }
  .ipad__heading {
    align-items: flex-start;
    margin-bottom: 20px; }
  .ipad__logo {
    width: 80px;
    margin-right: 0;
    margin-left: 3px;
    margin-top: -10px; }
  .ipad__title {
    font-size: 18px;
    line-height: 1.2em;
    margin-bottom: 12px; }
  .ipad__more {
    font-size: 10px; }
  .album__wrap {
    flex-wrap: wrap; }
  .feed__head {
    margin-bottom: 20px; }
  .feed__card {
    flex-basis: 100%; }
  .company__share {
    display: block;
    margin-bottom: 50px; }
  .company__text {
    font-size: 14px;
    line-height: 22px; }
  .contacts__head {
    display: block; }
  .form {
    width: 100%; }
    .form input {
      flex-basis: 100%;
      margin-bottom: 15px; }
    .form input:nth-child(3) {
      margin-top: 0;
      margin-bottom: 10px; }
    .form__down {
      width: 100%;
      display: flex;
      flex-direction: column; }
    .form__policy {
      order: -1;
      font-size: 12px;
      margin-bottom: 10px; }
      .form__policy br {
        display: none; }
    .form__button {
      width: 100%;
      margin: auto; }
  .questions__wrap {
    margin-bottom: 50px; }
  .questions__description {
    width: 242px; }
  .head__text {
    margin-top: 30px;
    font-size: 18px; }
  .social {
    padding: 30px 0;
    margin-bottom: 20px; }
    .social__text {
      margin-right: 0; }
    .social__link-1 {
      margin-right: 0;
      display: block;
      margin-bottom: 0; }
  .questions__description {
    margin-bottom: 20px; }
  .questions__wrap {
    display: block; }
  .feedform__title {
    font-size: 20px;
    margin-bottom: 30px; }
  .feedform__label {
    font-size: 14px; }
  .feedform__textarea {
    height: 300px; }
  .modal__dialog {
    left: 0;
    padding: 25px 20px; }
  .modal__policy {
    display: flex;
    align-items: center;
    justify-content: center; }
    .modal__policy input {
      flex-basis: 0; }
  .modal__text {
    margin-top: -15px; } }

@media screen and (max-width: 375px) {
  .about__img {
    width: 187px;
    height: 211px; }
  .services__wrap {
    justify-content: center; }
  .services__block {
    right: auto; } }

@media screen and (max-width: 320px) {
  .about__img {
    width: 160px;
    height: 185px; } }
